$background-color_1: #f1f1f1;
$background-color_2: #fff;

@import "@fortawesome/fontawesome-free/css/all.css";
.groupr_collapsible {
	border: 1px solid #ccc;
	margin: 10px 0;
	border-radius: 5px;
	overflow: hidden;
	padding: 10px;
}
.collapsible {
	border: 1px solid #ccc;
	margin: 10px 0;
	border-radius: 5px;
	overflow: hidden;
	
}
.collapsible__button {
	width: 100%;
	padding: 10px;
	background-color: $background-color_1;
	border: none;
	text-align: left;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.collapsible__content {
	max-height: 250px;
	overflow-y: auto;
	background-color: $background-color_2;
	border-top: 1px solid #ccc;
}
.collapsible__icon {
	margin-left: 10px;
}
