.scheduler_cards {
    display: flex;
    align-items: center;
   
    margin: 3px;
    flex-wrap: wrap;
}

.scheduler_cards_width {
    width: 160px;
}

.scheduler_container {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}